.panel {
    margin: 20px;
}
.svgicon img, .svgicon {
    height: 1em;
    width: auto;
    justify-self: center;
}
a:hover {
    background-color: #b5ad4c;
    color: white;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #b5ad4c;
}