.panel {
    margin: 20px;
}
.svgicon img, .svgicon {
    height: 1em;
    width: auto;
    justify-self: center;
}
a:hover {
    background-color: rgba(145, 1, 41, 0.945);
    xbackground-color: #b5ad4c;
    color: white;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

a {
    xcolor: #b5ad4c;
    color: #dc3545;
}